{% block contenido %}
<link rel="stylesheet" href="static/css/login.css">
<div id="contenedor">   
    <div id="central">
        <div class="titulo">Bienvenido !</div>
        <form action="/login" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label  }}<br>
                {{ form.username(placeholder="... usuario", size=20)}}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(placeholder="... clave", size=20) }}<br>
            </p>
            <p>{{ form.enviar() }}</p>
        </form>
    </div>
</div>
{% endblock %}
